# .coveragerc to control coverage.py
[run]
branch = True
source = */nlpia/*
omit =
   src/nlpia/data/*
   src/nlpia/book/*
   src/nlpia/talk.py
   src/nlpia/highd.py

include =
   src/nlpia/book/examples/ch02.py
   src/nlpia/book/examples/ch03.py
   src/nlpia/book/examples/ch04.py
   src/nlpia/book/examples/ch04_spam_lda.py
   src/nlpia/book/examples/ch05_2.py
   src/nlpia/book/examples/ch05_book_sentence_lsa.py
   src/nlpia/book/examples/ch_app_d.py
   src/nlpia/book/examples/ch_app_h.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
    nocover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
