# these should all work for python==3.7 and maybe 3.6 (except pyqt4)
# AIML-Bot>=0.0.3,<0.1.0  # requirements-3.6.txt
# annoy==1.15.1
# boto
coverage>=4.3.4
cython==0.29
future>=0.16.0
gensim==3.6.0
html2text>=2018.1.9
html5lib==1.1
jupyter==1.0.0
Keras==2.2.4
Keras-Applications>=1.0.6
Keras-Preprocessing>=1.0.5
matplotlib>=2.3.0,<2.4.0
MechanicalSoup>=0.10.0,<0.11.0
nltk>=3.4.5,<3.5.0
pandas==0.25.3
pathlib>=1.0.1,<2.0.0
pillow>=5.2.0,<6.0.0
pip>=18.0
plac>=0.9.6,<1.0.0  # thinc==6.10.3 requires plac<1.0.0
plotly==3.3.0
plyfile>=0.5.0,<1.0.0
pugnlp>=0.2.5
pytest-cov>=2.5.1
python-levenshtein>=0.12.0,<0.13.0
qtconsole==4.4.1. # ,<6.0.0  # 4.4.1 is available on OSX in conda and pip
redis>=2.10.6,<2.11.0
scikit-learn>=0.18.1
scipy>=1.1.0
seaborn>=0.8
setuptools>=40.8.0
spacy==2.0.18
tensorflow==1.13.1
tensorflow-hub>=0.4.0
theano==1.0.2
tqdm>=4.11.2
wheel>=0.30.0a0
